@media {
    body {
        color: white;
        margin: 0;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background: black;
        }
    }
}

@media {
    body {
        align-items: center;
        color: black;
        display: flex;
        font-weight: bolder;
        justify-content: center;
    }
}

@media {
    main {
        background: gray;
        display: flex;
        height: 0;
        position: relative;
        height: calc(100vh);
        width: calc(110vh);
    }

    @media (orientation: portrait) {
        main {
            height: calc(90vw);
            width: calc(100vw);
        }
    }

    @media {
        main > game {
            display: flex;
            flex: 1;
            flex-direction: column;
            font-family: Arial;
            font-size: 24px;
            justify-content: space-between;
            gap: 20px;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        main > game > header {
            display: flex;
            flex-direction: column;
            font-family: Arial;
            font-size: 24px;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        main > game > section {
            width: 100%;
            height: 100px;
        }

        main > game > section > a {
            border: 1px solid #333;
            border-radius: 50px;
            color: #111;
            display: block;
            height: 50%;
            padding: 0 10px;
        }

        main > game > footer {
            font-size: 16px;
        }
    }
}
